@model SON.Models.customers

@{
    ViewBag.Title = "Editmember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editmember</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>customers</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CustomerID)

        <div class="form-group">
            <label class="control-label col-md-2">
                ชื่อผู้ใช้
            </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ContactName)
                @Html.ValidationMessageFor(model => model.ContactName)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                ที่อยู่
            </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                หมายเลขโทรศัพท์
            </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                รหัสผ่าน
            </label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
