@model IEnumerable<SON.Models.customers>

@{
    ViewBag.Title = "showmember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>รายชื่อ</h2>

<table class="table">
    <tr>
        <th>
            ชื่อ
        </th>
        <th>
            ที่อยู่
        </th>
        <th>
            หมายเลขโทรศัพท์
        </th>
        <th>
            รหัสผู้ใช้งาน
        </th>
        <th>
            สถานะของผู้ใช้
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("แก้ไข", "Editmember", new { id = item.CustomerID }, new { @class = "btn btn-seccess" })
            @Html.ActionLink("ลบข้อมูล", "Delmem", new { id = item.CustomerID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
